* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes preloader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(250deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.preloader {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: #64b3f6;*/
    border-radius: 50%;
    animation-name: preloader;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.ball {
    position: absolute;
    width: 30px;
    height: 30px;
}
@keyframes ball1 {
    from {top: 0}
    to {top: 40%}
}
.ball1 {
    background-color: #6c3388;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation-name: ball1;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes ball2 {
    from {right: 0}
    to {right: 40%}
}
.ball2 {
    background-color: #f6ce1c;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    animation-name: ball2;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes ball3 {
    from {bottom: 0}
    to {bottom: 40%}
}
.ball3 {
    background-color: bisque;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    animation-name: ball3;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes ball4 {
    from {left: 0}
    to {left: 40%}
}
.ball4 {
    background-color: #8BC441;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation-name: ball4;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.ball5 {
    background-color: #ef4eb7;
    top: 5%;
    left: 0;
    transform: translate(50%, 50%);
    border-radius: 50%;
}
.ball6 {
    background-color: #1eaccc;
    top: 5%;
    right: 0;
    transform: translate(-55%, 60%);
    border-radius: 50%;
}
.ball7 {
    background-color: #ff6500;
    bottom: 5%;
    right: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.ball8 {
    background-color: #fde800;
    bottom: 5%;
    left: 0;
    transform: translate(55%, -60%);
    border-radius: 50%;
}